{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-sm-12 text-center">
        <h1 class="highlight">Créer votre compte Eco-System</h1>

    </div>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>




                {% endblock %}
