{% extends 'base.html.twig' %}

{% block content %}
    <h1>Creation nouveau produit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <li>
        <input type="submit" value="Créer" />
        </li>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_typeproduit_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
