<footer class="page_footer ds section_padding_top_100 section_padding_bottom_65 columns_padding_25">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-12 text-center">
                <div class="widget">
                    <a href="{{ asset ('index.html')}}" class="logo bg_logo bottommargin_25">
                        <img src="{{ asset ('images/logo.png')}}" alt="">
                        <span class="logo_text">
										<span class="big">Eco-system</span>
										<span class="small-text">Recycling</span>

									</span>

                    </a>
                    <div class="col-md-10 col-sm-2">
                    <a> {{ socialButtons( { 'facebook': {'locale':'fr_FR', 'send':true}} ) }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<section class="ls page_copyright section_padding_15">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="small-text small-spacing grey">&copy; Copyright 2019 All Rights Reserved</p>
            </div>
        </div>
    </div>
</section>
