{% extends 'base.html.twig' %}

{% block content %}
    <h1>Categorie creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <li>
        <input type="submit" value="Create" />
        </li>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_categorie_index') }}">Retour à la liste </a>
        </li>
    </ul>
{% endblock %}
